body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
}

.title {
    font-family: barlow;
    font-size: 36px;
}

table {
    display: flex;
    justify-content: center;
}

td {
    color: white;
    font-family: barlow;
    background-color: #303134;
    font-size: 140px;
    padding: 40px;
}