body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    font-family: barlow;
    font-size: 18px;
    padding: 20px;
}

label {
    padding-right: 10px;
}

#player-one,
#player-two {
    color: black;
    border-radius: 10px;
    outline: 2px solid black;
}

#player-one {
    margin-right: 30px;
}

.title {
    font-family: barlow;
    font-size: 36px;
    margin-bottom: 0%;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

#endingMessage {
    font-family: Barlow;
    font-size: 48px;
    margin: 10px;
}

#board {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

tr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
}

td {
    color: white;
    font-family: barlow;
    font-size: 85px;
    background-color: #303134;
    outline: 5px solid white;
    width: 10rem;
    height: 10rem;
    text-align: center;
    padding-top: 40px;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

body {
    text-align: center;
}

button {
    margin-top: 30px;
}